@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  background: #F2F3E3;
  min-height: 755px;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}

.footer{
  flex: 0 1 auto;
}

.header-form{
  display: flex;
}

.header-form button{
  margin-left: 5%;
}

.header-title{
  font-size: 35px;
  font-weight: bold;
}

.navbar{
  background: rgba(0, 0, 0, .7);
  padding: 0px 10%;
}

.icon{
  width: 25px;
  height: 25px;
}

.carousel{
  box-shadow: 0 0 50px #000;
}

.card-btn{
  width: 90%;
  margin: 0 auto;
}

.cards{
  padding-top: 30px;
}

.cards .h2{
  color: #333;
  /* letter-spacing: 5px; */
  font-family: 'Kanit', sans-serif;
}

.cards-row{
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
  margin-top: 2%;
}

.nav a{
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.nav{
  margin:2% auto;
}

.active{
  color: yellow;
}

.about{
  font-weight: bold;
}

.about p{
  margin-top: 3%;
}