@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  background: url('./images/background.jpg') center / cover no-repeat scroll;
  min-height: 755px;
  display: flex;
  flex-direction: column;
}


.main{
  flex: 1 1 auto;
}

.footer{
  flex: 0 1 auto;
}

.header-form{
  display: flex;
}

.header-form button{
  margin-left: 5%;
}

.header-title{
  font-size: 35px;
  font-weight: bold;
}

.navbar{
  background: rgba(0, 0, 0, .7);
  padding: 0px 10%;
}

.icon{
  width: 25px;
  height: 25px;
}

.carousel{
  box-shadow: 0 0 50px #000;
}

