@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}


.wrapper{
  background: #F2F3E3;
  min-height: 755px;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}

.footer{
  flex: 0 1 auto;
}

.header-form{
  display: flex;
}

.header-form button{
  margin-left: 5%;
}

.header-title{
  font-size: 35px;
  font-weight: bold;
}

.navbar{
  background: rgba(0, 0, 0, .7);
  padding: 0px 10%;
}

.icon{
  width: 25px;
  height: 25px;
}

.carousel{
  box-shadow: 0 0 50px #000;
}

.card-btn{
  width: 90%;
  margin: 0 auto;
}

.cards{
  padding-top: 30px;
}

.cards .h2{
  color: #333;
  /* letter-spacing: 5px; */
  font-family: 'Kanit', sans-serif;
}

.cards-row{
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2%;
  margin-top: 2%;
}

.nav a{
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.header a{
  color: #000;
  text-decoration: none;
}

.nav{
  margin:2% auto;
}

.active{
  color: yellow;
}

.about{
  font-weight: bold;
}

.about p{
  margin-top: 3%;
}

.header-btn{
  width: 180px;
  margin-left: 10%;
  padding-left: 10%;
  align-items: center;
}

.header a{
  margin-left: 10%;
}

.form{
  /* margin-top: 10%; */
  width: 50%;
  margin: 10% auto;
}

.form .h2{
  text-align: center;
}

.form p{
  margin: 2% 0;
}

.form button{
  width: 80%;
  margin: 10% auto;
  display: block;
}

.icon-login{
  width: 10%;
  height: 10%;
  margin: 0 auto;
}

small{
  color: rgba(255, 0, 0, .6)
}

.icon-fix{
  position: fixed;
  z-index: 3;
  left: 92%;
  top: 85%;
  height: 50px;
  width: 50px;
  color: red;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

.icon-basket{
  height: 45px;
  width: 45px;
  color: red;
  font-weight: bold;
}

.item{
  border: 1px solid red;
  box-shadow: 0 0 5px grey;
  padding: 2%;
  width: 50%;
  margin: 6% auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item div:first-child{
  flex: 1 1 20%;
}

.item div:last-child{
  flex: 0 0 20%;
  text-align: center;
}


.icon-bt{
  width: 25px;
  height: 25px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.icon-bt:hover{
  opacity: 0.5;
}


.total{
  background-color: red;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  width: 30%;
  margin: 2% auto;
}

@media (min-width: 2500px){
  .wrapper{
    min-height: 1075px;
  }
  .form{
    margin: 15% auto;
  }

  .item{
    width: 80%;
    font-size: 25px;
  }

  .total{
    width: 50%;
    margin: 2% auto;
    font-size: 25px;
  }

  .icon-fix{
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 1024px){
  .header .header-btn{
    font-size: 13px;
  }
  .header-title{
    font-size: 25px;
  }

  .icon-fix{
    height: 40px;
    width: 40px;
  }
  .card{
    margin-left: 1%;
  }

  .item{
    width: 70%;
  }
}

@media (max-width: 768px){

  .wrapper{
    min-height: 593px;
  }
  .header .header-btn{
    font-size: 10px;
    width: 100px;
  }

  .header-title{
    font-size: 20px;
  }

  .card{
    margin-left: 4%;
  }

  .form{
    width: 80%; 
    font-size: 15px;
  }

  .wrapper{
    min-height: 519px;
  }

  .item{
    width: 85%;
    font-size: 15px;
    margin: 10% auto;
  }

}

@media (max-width: 450px){

  .wrapper{
    min-height: 593px;
  }

  .header-title{
    font-size: 15px;
  }
  .navbar{
    padding: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .header .header-btn{
    width: 90px;
    margin-left: 2px;
    font-size: 8px;
  }

  .header .btn1{
    width: 70px;
  }

  .main{
    font-size: 13px;
  }

  .about p{
    margin-top: 20px;
  }

  .nav-item a{
    font-size: 15px;
  }

  .icon{
    width: 15px;
  }
  .card{
    margin: 5% auto;
    margin-top: 5%;
  }

  .form{
    width: 95%;
    font-size: 10px;
    margin-top: 20%;
  }

  .form input{
    font-size: 10px;
  }

  .form button{
    font-size: 10px;
  }

  .forms a{
    padding-left: 10%;
  }

  .icon-fix{
    width: 25px;
    height: 25px;
    left:87%;
  }

  .item{
    width: 90%;
    font-size: 10px;
  }

  .item .icon-bt{
    width: 15px;
    height: 15px;
  }

  .total{
    padding: 2px 20px;
    width: 80%;
  }

  .basket{
    padding-top: 13%;
  }

  .basket .forms .header-title{
    font-size: 10px;
  }
  .basket .forms .btn{
    font-size: 10px;
    width: 150px;
    margin-left: 50px;
    padding: 1px;
  }


}

@media (max-width: 400px){
  .icon-fix{
    left: 90%;
  }

  .item {
    width: 95%;
    font-size: 8px;
  }

  .basket .forms .header-btn{
    width: 110px;
  }

  .basket .forms a{
    margin-left: 30px;
  }

  .header-title{
    font-size: 12px;
  }

  .main{
    font-size: 13px;
  }
}

@media (max-width: 350px){
  .header-title{
    font-size: 10px;
  }
  .header .header-btn{
    margin-left: 1px;
  }
  
  .header .header-btn{
    margin-left: 1px;
    width: 85px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 2px;
  }

  .header .btn1{
    width: 60px;
  }

  .header .navbar a{
    margin-left: 2px;
  }

  .nav .nav-item a{
    font-size: 12px;
  }

  .basket .forms .header-btn{
    width: 80px;
  }

  .basket .forms a{
    margin-left: 20px;
  }
}